@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
body{
    font-family: 'Lato', sans-serif;
   
}
.zs-nav{
    background-color:#0064a4;
    color:white;
    border-radius: 0px;
    border: 0px;
    
}
.navbar-default .navbar-brand {
    color:#ffd200;
    font-weight: 900;

}
.img-responsive {
    margin: 0 auto;
}

.zs-nav-button{
    color:white;
}
.zs-subhead{
    color:white;
}